<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= treinador.nome %></title>
</head>
<body>
    <h1><%= treinador.nome %></h1>
    <p>Nível: <%= treinador.nivel %></p>
    <h2>Pokédex:</h2>
    <ul>
        <% treinador.pokemons.forEach(function(pokemon) { %>
            <li><%= pokemon.nome %> - <%= pokemon.tipo %></li>
        <% }) %>
    </ul>
    <h2>Adicionar Pokémon à Pokédex</h2>
    <form action="/treinadores/<%= treinador.id %>/addPokemon" method="POST">
        <select name="pokemonId" required>
            <% pokemons.forEach(function(pokemon) { %>
                <option value="<%= pokemon.id %>"><%= pokemon.nome %> - <%= pokemon.tipo %></option>
            <% }) %>
        </select>
        <button type="submit">Adicionar Pokemon</button>
    </form>

    <form action="/treinadores/<%= treinador.id %>?_method=DELETE" method="POST">
        <button type="submit">Deletar Treinador</button>
    </form>
    <a href="/treinadores">Voltar aos Treinadores</a>
</body>
</html>
